body {
    font-family: sans-serif;
}

#start-btn {
    font-family: sans-serif;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}